streamlit>=1.38.0
pandas>=2.2.2
numpy>=1.26.4
plotly>=5.22.0
scikit-learn>=1.5.1
openpyxl>=3.1.5
xgboost>=2.1.1
scipy==1.11.4
google-generativeai==0.3.2
openpyxl==3.1.2
python-dotenv==1.0.0
